nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Låter knapparna hoppa ner en rad på små skärmar */
    gap: 15px; /* Minskat från 25px för att passa mobiler bättre */
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    padding: 15px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #eee;
}

header {
    text-align: center;
    padding: 40px;
    background: #1e1e1e;
}

nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
}

nav a {
    padding: 8px 16px;
    background: #eee;
    color: #000;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background: orange;
    color: black;
    transform: translateY(-2px);
}

nav a.active { /* Så man ser vilken sida man är på */
    background: orange;
    color: black;
}

section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
}

/* --- HERO SKIT? --- */


.hero {
    height: 70vh;
    background: url("rust-dance.gif") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.65);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    color: #ccc;
}

/* Mobil */

.container {
    max-width: 900px;
    width: 100%;
    margin: auto;
}